@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  font-family: "poppins" sans-serif;
  margin-right: 10px;
  display: inline;
}
img {
  width: 30%;
}
button {
  margin-bottom: 10px;
  margin-top: 30px;
  padding: 10px;
  background-color: #8a9af1;
  color: white;
  border: outset;
  font-size: 30px;
  font-weight: 400;
  font-family: "poppins";
}
p {
  font-size: 30px;
  font-weight: 400;
  font-family: "poppins";
  color: #0a2ff1;
  background-color: #eff2ff;
  margin-bottom: 5px;
}
h1 {
  font-size: 66px;
  font-family: "poppins";
  font-weight: 700;
  color: #0a2ff1;
}
footer {
  width: 100%;
  background-color: #3ffff3;
  height: 5px;
  margin-bottom: 10px;
}
